    {# for mobile nav bar #}
    <nav class="p-5 bg-moyen shadow flex items-center justify-between">
        <div>
            <span>
                <img src="./img/navbar/Hamburger_icon.svg.png" alt="menu burger" class="h-30 w-10 lg:hidden"> 
            </span>
        </div>
        <div>
            <span class="text-4xl xl:text-6xl lg:text-5xl base:text-4xl font-[Lustria] text-white">
                LogistockPro
            </span>
        </div>

        {# This is the category block of navbar #}
        <ul class=" lg:flex hidden sm:items-center px-6 grow" >
            <li class="sm:flex mx-6 mr-15 my-3 sm:my-0">
                <a href="#" class="lg:text-[1rem] xl:text-2xl 2xl:text-3xl text-white font-[Lato]">TOUS NOS ARTICLES</a>
            </li>
            <li class="mx-6 mr-15 my-3 sm:my-0">
                <a href="#" class="lg:text-[1rem] xl:text-2xl 2xl:text-3xl text-white font-[Lato] ">A PROPOS</a>
            </li>
            <li class="mx-6 mr-15 my-3 sm:my-0 ">
                <a href="#" class="md text-[1rem] lg:text-[1rem] xl:text-2xl 2xl:text-3xl text-white font-[Lato] ">BESOIN D'AIDE ?</a>
            </li>
        </ul> 

        {# This is the block icons of nav bar #}
        <ul class="flex sm:items-center">  
            <li class="h-30 w-10 mr-1 ml-1 my-3 sm:my-0 lg:w-10 ">
                <a href="#" ><img src="./img/navbar/courriel-de-contact_1.png" alt="mon compte"></a>
            </li>
            <li class="h-30 w-10 mr-3 ml-1 my-3 sm:my-0 lg:w-10 ">
                <a href="#" ><img src="./img/navbar/panier_1.png" alt="panier"></a>
            </li>
            <li class=" hidden lg:block h-30 w-10 mr-3 my-3 sm:my-0 lg:w-10">
                <a href="#" ><img src="img/navbar/courriel-de-contact.png" alt="contact"></a>
            </li>
        </ul>
    </nav>

    {# This is the bottom of the nav bar #}
    <nav class="p-5 bg-slate-400 sm:flex sm:items-center">
        <p class="text font-[Lato] font-bold w-60">Kit évo qu’es ce que c’est ?</p>
        <p class="text font-[Lato]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, autem! Rerum repudiandae, aliquid sed, a officiis dolore sunt magni ipsam ipsa eum sit impedit deserunt error cum illo consequatur est. Eaque nulla aliquam quia rerum itaque ratione nisi velit asperiores molestias nostrum sapiente numquam praesentium sit animi explicabo, est deleniti?</p>
    </nav>  