
    <h2 class="text-xl mt-6 mb-4 ml-14 text-moyen font-[lustria]">Les meilleurs ventes</h2>
    <div class="container border-3 box-border h-full sm:flex flex-wrap  m-auto flex-row  w-12/12 font-[lato]  ">

        <div class="card w-48 h-52 mx-auto bg-white rounded-xl shadow-lg sm=mx-2 my-5 flex flex-col  items-center">
            <img class="h-30 w-40 m-auto" src="./img/R.jpg" alt="écran ordinateur">
            <p class=" text-end sm:text-2xl text-fonce font-bold">169€90</p>
        </div>   

        <div class="card w-48 mx-auto bg-white rounded-xl shadow-lg my-5 sm=mx-2 flex flex-col items-center ">
            <img class="h-30 w-40 m-auto " src="./img/pc-portable.jpg" alt="Ordinateur portable">
            <p class=" sm:text-2xl text-fonce font-bold">599€90</p>
        </div>   

        <div class="card w-48 mx-auto bg-white rounded-xl shadow-lg my-5 sm=mx-2 flex flex-col items-center ">
            <img class="h-30 w-40 m-auto " src="./img/ssd.jpg" alt="Carte SSD">
            <p class=" sm:text-2xl text-fonce font-bold">59€90</p>
        </div>  

        <div class="card w-48 mx-auto bg-white rounded-xl shadow-lg my-5 sm=mx-2 flex flex-col items-center ">
            <img class="h-30 w-40 m-auto " src="./img/ventilateur portable.jpg" alt="ventilateur ordinateur portable">
            <p class=" sm:text-2xl text-fonce font-bold">39€90</p>
        </div>

        <div class="card w-48 mx-auto bg-white rounded-xl shadow-lg my-5 sm=mx-2 flex flex-col items-center ">
            <img class="h-30 w-40 m-auto " src="./img/carte mere.jpg" alt="carte mère">
            <p class=" sm:text-2xl text-fonce font-bold">159€90</p>
        </div> 
        

    </div>
{# <p class=" text-xl text-gold text-moyen my-5 ml-16"> Profitez de 1% de réduction immédiate grace au code promo : PASCHER</p> #}

